$toolbar: #000305;
$letra: white;

ion-header img {
  padding-left: 35px;
    height: 68px;
    max-width: 49%
} 

.principal--img {
  width: 100%;
}

ion-content ion-toolbar {
  --background: translucent;
}

ion-content {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

ion-toolbar {
  --background: #000305;
  --color: white;
}



ion-footer img {
  padding-left: 19px;
  height: 100px;
  max-width: 100%;
} 

.texto {
  text-align: justify;
}

.nosotros {
  color: #000305 ;
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
}

.nosotros h2 {
  text-align: center;
}