<ion-header >
  <ion-toolbar>
    <img src="../../assets/Captura de Pantalla 2020-04-15 a la(s) 14.09.22.png" alt="">
    <ion-buttons slot="end">
      <ion-button (click)="goPrincipal()">
        principal
      </ion-button>
      <ion-button (click)="goGuitarras()">
        Guitarras
      </ion-button>
      <ion-button (click)="goBajos()">
        Bajos
      </ion-button>
      <ion-button (click)="goCuerdas()">
        Cuerdas
      </ion-button>
      <ion-button (click)="goUkuleles()">
        Ukuleles
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
